# Application
PORT=3100
NODE_ENV=production

# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/coreitbox?schema=public

# JWT
JWT_SECRET=change-this-secret
JWT_REFRESH_SECRET=change-this-refresh-secret

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=coreitbox
MINIO_USE_SSL=false

# Frontend
FRONTEND_URL=http://localhost:3000,http://IP_SERVER:3000

DEFAULT_ADMIN_PASSWORD=secrtpassword